<p><strong>Preguntas de cuestionario nº<%= cuestionario.id%></p>
<!--1ºcargar todas las preguntas-->
<!--2ºinsertar los checkbox-->
<!--3ºpermitir actualizar la base de datos al anhadir una pregunta a un cuestionario-->
<!--4ºhacer una comprobacion de los checkbox.Si una pregunta ya está reacionado con un cuestionario, que se visualice su checkbox tikado-->	
<form method="post" action="/admin/cuestionarios/<%= cuestionario.id %>/quizes/asociar?_method=put">
<input type='hidden' name='quizes[null]' />
	<table >

	<% var i; for (i=0; i < quizes.length; i ++) { %>
		<tr>
			<td><input type="checkbox" name="quizes[<%= quizes[i].id %>]"
				<%
				var checked = false;
				for(var j=0; j<preguntasAsociadas.length; j++)
				{
					if(quizes[i].id === preguntasAsociadas[j].id) {
						checked = true;
					}
				}
				if(checked){
				
				%>
				
					checked
				<% } %>
			></td>
			<td align="left">
				<%= (i+1)+".  "%><a href="/admin/quizes/<%= quizes[i].id %>"><%=  quizes[i].pregunta %></a>
			</td>
			<%if(session.user && (session.role == 1 || session.role == 2)) {%>
				<td>
					<a href="/admin/cuestionarios/<%= cuestionario.id %>/quizes/<%= quizes[i].id %>/edit"><input type="button"value="editar"></a>
				</td>
				<td>
					<!--<form method="post" action="/admin/quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onClick="return confirm('Borrar: <% quizes[i].pregunta %>');">
							borrar
						</button>
					</form>-->
				</td>
			<%}%>
		</tr>
	<% } %>
		
	</table>
	<input type="submit" value="Añadir preguntas a Cuestionario">
</form>

<p>
	<%if(session.user && (session.role == 1 || session.role == 2)) {%>
		<a href="/admin/cuestionarios/<%= cuestionario.id %>/quizes/new"><button type="button">Crear pregunta</button></a>
	<%}%>
</p>