<table border="1px" width="60%" style="margin:0 auto; text-align:center;" >
<caption><h2>Cuestionarios</h2>
	<%if(session.user && (session.role == 1 || session.role == 2)) {%>
		<a href="/admin/cuestionarios/new"><button type="button">Crear cuestionario</button></a>
	<%}%>
</caption>
<tr><td>Creador</td><td>Observaciones</td><td>Fecha</td><td colspan="3">Acciones</td></tr>
<% var i; for (i = 0 ;i < cuestionarios.length ; i++){ %>
    <tr>
		<tr>
			<td>
				<% if(cuestionarios[i].Profesor) { %>
				<%= cuestionarios[i].Profesor.nombre %>
				<% } %>
			</td>
			<td><%= cuestionarios[i].observaciones %></td>    
			<td><%= cuestionarios[i].fechaFin.toDateString() %></a></td>
			<%if( session.user && session.role == 2 ){%>
			<!--<td><a href="/admin/cuestionarios/<%= cuestionarios[i].id %>/edit"><button>editar</button></a></td>-->
			<td><a href="/admin/cuestionarios/<%= cuestionarios[i].id %>/show"><button>Mostrar</button></a></td>
			<td><a href=""><button>Duplicar</button></a></td>
			<td>
			<form method="post" action="/admin/cuestionarios/<%= cuestionarios[i].id %>?_method=delete">
			<button type="submit" onClick="return confirm('Borrar: <% cuestionarios[i].observaciones %>');">Borrar</button>
			</form>
			</td>
			<% } else if(session.role == 3){%>
				<td><a href=""><button>Responder</button></a></td>
			<%}%>
		</tr>
			
	</tr>
<% } %>
</table>
