<label for="tutor" class="rem">Tutor:</label>
<input type="text" id="tutor" name="grupo[tutor]" value="<%= grupo.tutor %>" /> <p>
<label for="anyo" class="rem">Año:</label>
<input type="date" id="anyo" name="grupo[anyo]" value="<%= grupo.anyo %>" /> <p>
<label for="grupo" class="rem">Grupo:</label>
<input type="text" id="grupo" name="grupo[grupo]" value="<%= grupo.grupo %>" /> <p>
<label for="subgrupo" class="rem">Subgrupo:</label>
<input type="text" id="subgrupo" name="grupo[subgrupo]" value="<%= grupo.subgrupo %>" /> <p>
<label for="anyo" class="rem">Enseñanza:</label>
<input type="text" id="ensenanza" name="grupo[ensenanza]" value="<%= grupo.ensenanza %>" /> <p>
<label for="curso" class="rem">Curso:</label>
<input type="text" id="curso" name="grupo[curso]" value="<%= grupo.curso %>" /> <p>
<label for="horarioVisita" class="rem">Horario de Visita:</label>
<input type="text" id="horarioVisita" name="grupo[horarioVisita]" value="<%= grupo.horarioVisita %>" /> <p>
<a href="/admin/grupos"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar" />