<p>Tutor: <%= grupo.tutor %></p>
<p>Año: <%= grupo.anyo %></p>
<p>Grupo: <%= grupo.grupo %></p>
<p>Subgrupo: <%= grupo.subgrupo %></p>
<p>Enseñanza: <%= grupo.ensenanza %></p>
<p>Curso: <%= grupo.curso %></p>
<p>Horario de Visita: <%= grupo.horarioVisita %></p>