<p>
<label for="ape1" class="rem">DNI:</label>
<input type="text" id="dni" name="alumno[dni]" value="<%= alumno.dni %>" />
</p>
<p>
<label for="ape1" class="rem">Apellidos1:</label>
<input type="text" id="ape1" name="alumno[apellido1]" value="<%= alumno.apellido2 %>" />
</p>
<p>
<label for="ape2" class="rem">Apellidos2:</label>
<input type="text" id="ape2" name="alumno[apellido2]" value="<%= alumno.apellido2 %>" />
</p>
<p>
<label for="nom" class="rem">Nombre:</label>
<input type="text" id="nom" name="alumno[nombre]" value="<%= alumno.nombre %>" />
</p>
<p>
<label for="email" class="rem">E-mail:</label>
<input type="text" id="email" name="alumno[email]" value="<%= alumno.email %>" />
</p>
<a href="/admin/alumnos"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">

