<p>
<label for="ape1" class="rem">DNI:</label>
<input type="text" id="dni" name="alumno[dni]" value="<%= alumno.dni %>" />
</p>
<p>
<label for="ape1" class="rem">Apellidos1:</label>
<input type="text" id="ape1" name="alumno[apellido1]" value="<%= alumno.apellido2 %>" />
</p>
<p>
<label for="ape2" class="rem">Apellidos2:</label>
<input type="text" id="ape2" name="alumno[apellido2]" value="<%= alumno.apellido2 %>" />
</p>
<p>
<label for="nom" class="rem">Nombre:</label>
<input type="text" id="nom" name="alumno[nombre]" value="<%= alumno.nombre %>" />
</p>
<p>
<label for="email" class="rem">E-mail:</label>
<input type="text" id="email" name="alumno[email]" value="<%= alumno.email %>" />
</p>
</select>

<label for="grupo" class="rem">Grupo:</label>

<select name="grupo[alumno]">
	<option value="1ºE.S.O.">1ºE.S.O.</option>
	<option value="2ºE.S.O.">2ºE.S.O.</option>
	<option value="3ºE.S.O.">3ºE.S.O.</option>
	<option value="4ºE.S.O.">4ºE.S.O.</option>
	<option value="1ºF.P.B.">1ºF.P.B.</option>
	<option value="2ºF.P.B.">2ºF.P.B.</option>
	<option value="1ºBACH">1ºBACH</option>
	<option value="2ºBACH">2ºBACH</option>
	<option value="1ºG.M.">1ºG.M.</option>
	<option value="2ºG.M.">2ºG.M.</option>
	<option value="1ºG.S.">1ºG.S.</option>
	<option value="2ºG.S.">2ºG.S.</option>
</select>
<a href="/admin/alumnos"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">

