<p>
<label for="apellidos" class="rem">Apellidos:</label>
<input type="text" id="apellidos" name="profesor[apellidos]" value="<%= profesor.apellidos %>" />
</p>

<p>
<label for="nombre" class="rem">nombre:</label>
<input type="text" id="nombre" name="profesor[nombre]" value="<%= profesor.nombre %>" />
</p>

<p>
<label for="email" class="rem">email:</label>
<input type="text" id="email" name="profesor[email]" value="<%= profesor.email %>" />
</p>

<p>
<label for="dni" class="rem">dni:</label>
<input type="text" id="dni" name="profesor[dni]" value="<%= profesor.dni %>" />
</p>

<p>
<label for="movil" class="rem">movil:</label>
<input type="text" id="movil" name="profesor[movil]" value="<%= profesor.movil %>" />
</p>

<p>
<label for="departamento" class="rem">departamento:</label>
<input type="text" id="departamento" name="profesor[departamento]" value="<%= profesor.departamento %>" />
</p>

<a href="/profesores"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">
