<table>
	<tr align="left">
		<td><h3>ID</h3></td>
		<td><%= profesor.id %></td>
	</tr>
	<tr align="left">
		<td><h3>NOMBRE</h3></td>
		<td><%= profesor.nombre %></td>
	</tr>
	<tr align="left">
		<td><h3>APELLIDOS</h3></td>
		<td><%= profesor.apellidos %></td>
	</tr>
	<tr align="left">
		<td><h3>DNI</h3></td>
		<td><%= profesor.dni %></td>
	</tr>
	<tr align="left">
		<td><h3>EMAIL</h3></td>
		<td><%= profesor.email %></td>
	</tr>
	<tr align="left">
		<td><h3>MOVIL</h3></td>
		<td><%= profesor.movil %></td>
	</tr>
	<tr align="left">
		<td><h3>DEPARTAMENTO</h3></td>
		<td><%= profesor.departamento %></td>
	</tr>
</table>

<p><strong>Cuestionarios:</strong></p>


